.sections{
    margin-top: 2em;
    text-align: center;
}
.sections div{
    width: 300px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.gray {
    background-color: gray;
}
   
.red {
    background-color: red;
}
   
.yellow {
    background-color: yellow;
    color: black;
}
   
.green {
    background-color: green;
}
.gray, .red, .green {
    color: white;
}